<template>
	<div class="login row justify-content-center">
		<div class="col-md-4">
			<div class="card">
				<div class="card-header">
					Login
				</div>

				<div class="card-body">
					<form @submit.prevent="authenticate()">
						<div class="form-group" v-if="authError">
                <p class="error">
                    {{ authError }}
                </p>
            </div>

						<div class="form-group">
							<label for="email">Email:</label>
							<input type="email" v-model="form.email" class="form-control" placeholder="Email Address" />
						</div>

						<div class="form-group">
							<label for="password">Password:</label>
							<input type="password" v-model="form.password" class="form-control" placeholder="Password" />
						</div>
					
						<div class="form-group">
							<input type="submit" value="Login" />
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import {login} from '../../helpers/auth';

	export default{
		name: 'login',
		data(){
			return {
				form: {email:'', password:''},
				error: null
			}
		},
		methods: {
			authenticate(){
				this.$store.dispatch('login');

				login(this.$data.form)
					.then((resp) => {
						this.$store.commit("loginSuccess", resp);
						this.$router.push({path: '/'});
					})
					.catch((error) => {
						this.$store.commit("loginFailed", {error});
					});
			}
		},
		computed: {
        authError() {
            return this.$store.getters.authError;
        }
    }
	}
</script>

<style>
	.error {
	    color: #fff;
	    background: red;
	    padding: 10px;
	}
</style>